@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-navy text-white;
}




@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-ticker {
  animation: ticker 30s linear infinite;
  white-space: nowrap;
}

html {
  scroll-behavior: smooth;
}


/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
